HOST=0.0.0.0
PORT=8080
STORAGE_BACKEND=ydb
YDB_CONNECTION_STRING=grpcs://ydb.serverless.yandexcloud.net:2135/?database=/ru-central1/...
YDB_METADATA_CREDENTIALS=1
YDB_ATTEMPTS_TABLE=olympiad_attempts
YDB_ADMIN_SESSIONS_TABLE=admin_sessions
YDB_CONTENT_DRAFTS_TABLE=olympiad_content_drafts
YDB_CONTENT_QUESTIONS_TABLE=olympiad_content_questions
ADMIN_PASSWORD=change_me
YANDEX_DISK_ENABLED=true
YANDEX_DISK_OAUTH_TOKEN=change_me
YANDEX_DISK_FOLDER=/Олимпиада_Национальные_кухни
